<div id="loginmenu" class="float-end">
  <ng-container *ngIf="!loggedIn else logout">
Create Account <a href="{{getLoginUrl()}}">
  Login
</a>
</ng-container>
<ng-template #logout>
  <ng-container *ngIf="profile != null">
    <span>{{this.profile.userName}}
      <img src="{{this.profile.profileImagePath}}" alt="User Profile Image" class="user-profile-image" />

    </span>
      <button mat-button extended>
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

</ng-template>

</div>
