.selected 
{
   background-image: url("~/public/img/slotselected.png" );
   background-repeat: no-repeat;
   background-size: cover;
}

.word-break
{
   word-break: break-word;
   word-wrap: break-word;
}

.bingo-grid
{

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-content: stretch;
   height: 100%;
   .bingo-row:first
   {
      padding-top:1.5rem;
   }

}

.bingo-row
{
   padding: 1.5rem;
   padding-top:0;
   height: inherit;
}

.size-3
{
   max-height: 33%;
}
.size-4
{
   max-height: 25%;
}
.size-5
{
   max-height: 20%;
}

.size-6
{
   max-height: 17%;
}
.size-7
{
   max-height: 14%;
}


.bingo-slot-parent{
   height: 100%;
   aspect-ratio : 1 / 1;

}
.bingo-slot-content
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.tab-content
{
   height: 90%;
}


